/** Amadou 3.x
*/

.taxonomy
{
	background:url('icons/tag_blue.png') no-repeat 0 6px;
}

/*----------icons for links----------*/
.links a:hover{
	color:#EF7D0B;
}

.comment_comments a
{
	background:url('icons/comment.png') no-repeat 0 2px;
	padding-bottom:5px;
	padding-left:20px;
}
.comment_comments a:hover
{
  background:url('icons/comment.png') no-repeat 0 2px;
  border-bottom:1px solid #999;
}

.node_read_more a
{
	background:url('icons/page_white_go.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.node_read_more a:hover
{
  background:url('icons/page_white_go.png') no-repeat;
  border-bottom:1px solid #999;
}

.comment_add a,.comment_reply a
{
	background:url('icons/comment_add.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.comment_add a:hover,.comment_reply a:hover
{
  background:url('icons/comment_add.png') no-repeat;
  border-bottom:1px solid #999;
}


.comment_delete a
{
	background:url('icons/comment_delete.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.comment_delete a:hover
{
  background:url('icons/comment_delete.png') no-repeat;
  border-bottom:1px solid #999;
}

.comment_edit a
{
	background:url('icons/comment_edit.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.comment_edit a:hover
{
  background:url('icons/comment_edit.png') no-repeat;
  border-bottom:1px solid #999;
}

.blog_usernames_blog a
{
	background:url('icons/user_comment.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.blog_usernames_blog a:hover
{
  background:url('icons/user_comment.png') no-repeat;
  border-bottom:1px solid #999;
}

.book_printer a
{
	background:url('icons/printer.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.book_printer a:hover
{
  background:url('icons/printer.png') no-repeat;
  border-bottom:1px solid #999;
}

.book_add_child a
{
	background:url('icons/page_add.png') no-repeat;
	padding-bottom:5px;
	padding-left:20px;
}
.book_add_child a:hover
{
  background:url('icons/page_add.png') no-repeat;
  border-bottom:1px solid #999;
}

.submitted{
background: url('icons/book_edit.png') no-repeat;
padding-bottom:5px;
  padding-left:20px;
}
