/** Amadou 3.x
*/

#container
{
  margin: 0 auto;
  padding:0;
  width:960px;
}

/*----------Main Divisions (left/right)----------*/
#side-left{
  float:left;
  width:560px;
}

#side-right{
  float:left;
  width:400px;
}


/*----------header----------*/
#header
{
  clear:both;
  height:30px;
  margin:0;
  padding:0;
  width:100%;
  background:black;
}


/*----------main content----------*/
#mainContent
{
  float:left;
  overflow:hidden;
  margin-top:15px;
  padding:0 10px 0 0;
}


/*----------side right----------*/
#orangeblock{
  height:158px;
  width:100%;
  background:url('images/orange.png') no-repeat;
  margin-bottom:10px;
}

#sideBars
{
}

#leftSidebar
{
  float:left;
  margin:0;
  width:240px;
}

#rightSidebar
{
  float:left;
  margin:0 0 0 10px;
  width:150px;
}


/*----------footer----------*/
#footer
{
  border-top:solid 1px #E1E1E1;
  clear:both;
  margin:1em auto;
  padding-top:1em;
  text-align:center;
  text-transform:lowercase;
  width:950px;
}
/*----------Misc----------*/
body.admin-menu{
  margin:0 !important;
}
